@font-face {
  font-family: "Oscar";
  src: url("../assets/font/FH-Oscar/woff2(web)/FHOscar-Regular.woff2") format("woff2"), url("../assets/font/FH-Oscar/ttf/FHOscar-Regular.ttf") format("truetype");
  font-style: normal; }

@font-face {
  font-family: "RecklessTRIAL";
  src: url("../assets/font/reckless/RecklessTRIAL-Regular.woff2") format("woff2"), url("../assets/font/reckless/RecklessTRIAL-Regular.woff") format("woff"), url("../assets/font/reckless/RecklessTRIAL-Regular.ttf") format("truetype");
  font-style: normal; }

@font-face {
  font-family: "RecklessTRIAL";
  src: url("../assets/font/reckless/RecklessTRIAL-RegularItalic.woff2") format("woff2"), url("../assets/font/reckless/RecklessTRIAL-RegularItalic.woff") format("woff"), url("../assets/font/reckless/RecklessTRIAL-RegularItalic.ttf") format("truetype");
  font-style: italic; }

@font-face {
  font-family: "Monument Grotesk";
  src: url("../assets/font/MonumentGrotesk/MonumentGrotesk-Regular.woff") format("woff");
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url("../assets/font/Roboto/Roboto-Regular.ttf") format("ttf");
  font-style: normal; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

main {
  max-width: 1200px;
  padding: 0 20px; }

header .content {
  display: flex;
  justify-content: space-between; }
