.footer{

    &__container{
        padding: 90px 0;
        border-bottom: 1px solid #CECECE;

    }
    &-header{
        text-align: center;
        margin-bottom: 40px;
    }
    &-logo{
        img{
            width: 19rem;
            margin: 0 10px;
        }
        &--img1{
            width: 8rem;
        }
    }
}
img.center.footer-logo--img1 {
    width: 11rem;
}

    .navigation__nav {
      &--ul {
      }
      &--li {
        text-transform: uppercase;
        margin: 0 10px;
        
      }
    }
  .footer__nav{
      margin: 20px 0;
      .navigation__nav--li{
          font-size: 1.5rem;
          font-weight: 300;
      }
  }
  .center.footer-logo {
    margin-left: 30px;
    @include respond(tab-port){
    margin-left: 0;
    
     };
}
.center.footer-logo{
    @include respond(phone){
        margin-left: 0!important;
        flex-direction: column
         };
}