.header {
  font-size: 15px;

  &__caption {
 
   font-family: RecklessTRIAL, serif;
   font-weight: normal;
    font-style: normal;
    justify-content: space-between;
    border-top: 1px solid rgba($color: #ffffff, $alpha:1);
    padding-top: 8px;
    @include respond(tab-port){
     flex-direction: column;
     align-items: flex-end!important;
    };
    h4{
      font-size: 15px;
    }
    p {
      width: 65vw;
      font-size: 15px;
     
      
      color: white;
      @include respond(tab-port){
       font-size: 15px;
       padding: 5px 10px;
        width: 90vw;
        
       };
      

    }
    a{
        text-transform: uppercase;
        color: #ffffff!important;
        cursor: pointer;
    font-family: 'Oscar',sans-serif;
font-size: 1.5rem;
        &:hover{
          
        }
        @include respond(tab-port){
          display: none
      
          
         };
    }
  }
 
}
.showCase__sec {
  height:900px;
  //background-image: linear-gradient(white 35%, #b4b3fd69);
 // border-bottom: 1px solid rgba($color: #000000, $alpha: 0.6);
 @include respond(tab-port){
  height:93vh;
};
 background: #5F5CFE;

  .showCase {
    height: 118vh;
    @include respond(tab-port){
      height:60vh;
    };
    //border-bottom: 1px solid rgba($color: #000000, $alpha: 0.6);
  }
  .showcase__content{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    &--h3{
      color: #ffffff;
      font-size: 2.5rem;
      font-family: RecklessTRIAL, serif;
      //font-weight: 400;
       font-style: normal;
       margin-top: 10px;
       font-weight: normal;
       margin-bottom: 40px;
       @include respond(tab-port){
      text-align: center;
      font-size: 15px;
      width: 80%;
 
      };
    }
    img{
      width: 26rem;
      @include respond(tab-port){
        width: 180px
        
       };
     
    }
    h1{
      margin-top: -6rem;
    }
  }
}
.navigation {
  justify-content: space-between;
  border-bottom: 1px solid #e9e9e9;
 position: fixed;
 width: 100vw;
 left: 0;
 background-color: #ffffff;
 top: 0;
 padding: 5px 40px;
z-index: 222;
  &__name {
  }
  &__logo {
    margin-left: 18rem;
    h4{
      @include respond(tab-port){
        margin: 20px 0;
        display: none
       };
    }
    @include respond(tab-port){
      margin: 20px 0;
      display: none
     };
    img.word-svg {
      width: 50px;
    }
    img.logo-svg {
      width: 15px;
    }
  }
  &__nav {
    &--ul {
      margin-bottom: 0 !important;
    }
    &--li {
      text-transform: uppercase;
      margin: 0 10px;
      font-weight: normal;
       a{
      color: #000000;
      text-decoration: none;
      @include respond(tab-port){
        font-size: 10.5px
        
       };
      &:hover{
        text-decoration: none;
        color: #5551FF;
      }
    }
    }
   
  }
}
.moun--pronounce{
  font-size: 1.3rem;
  padding: 0 0;
  margin-top: -30px;
  
  font-family: RecklessTRIAL, serif;
  font-weight: normal;
   font-style: normal;
   @include respond(tab-port){
    margin-top: 0;
  flex-direction: column;
  align-items: flex-start!important;
  padding: 0 10px
    
   };
   img{
     margin-bottom: 0;
    margin-right: 6px;

   }
  p{
    margin-right: 6px;
    color: #ffffff;
    margin-bottom: 0;
    font-size: 15px;
    
  }
  .moun{
   
    font-size: 25px;
    font-family: 'Oscar',sans-serif;
  }
  .moun--des{
    color: rgba($color: #fffefe, $alpha: 1);
    
   font-family: RecklessTRIAL, serif;
   font-weight: normal;
    font-style: normal;
    @include respond(tab-port){
      white-space: nowrap;
      font-size: 12.5px
     };
  }
}
.header__cap-flex{
  justify-content: space-between;
  display: flex;
  align-items: flex-end;
  a{
    margin-bottom: 10px;
  }
}