.feature__sec{
 
    .feature{
        padding: 9rem 5rem;
        border-bottom: 1px solid #CECECE;
        justify-content: space-evenly;
        
        
        @include respond(tab-land){
           flex-direction: column;
           justify-content: center //1rem=9px 
        };
        @include respond(tab-port){
            padding: 20px 10px;
            
            
        
        
         };
        &__image{
            position: relative;
            margin-top: 57px;
            p{
                position: absolute;
                font-size: 1.5rem;
            }
            img{
                width: 58rem;
                margin-top: 14px;
                @include respond(tab-port){
                    margin-top: 0;
                    
                    
                
                
                 };
                @include respond(phone){
                    width: 100%!important;
                  };
            }
            p.trus-p {
                top: -15px;
                left: 46%;
            }
            p.COMPOSABILITY-p {
                right: -12px;
                bottom: 90px;
            }
            p.speed-p {
                bottom: 90px;
                left: 27px;
            }
        }
        &__content{
            margin-left:10rem;
            @include respond(phone){
                margin-left:0;
              };
            &--text{
                margin-top: 10px;
                width:90%;
                @include respond(phone){
                    width:100%;
                  };
                p{
                    font-size: 1.5rem;
                    padding: 5px;
                    @include respond(tab-port){
                        font-size: 15px;
                        
                        
                    
                    
                     };
                }
                h4{
                    text-transform: uppercase;
                }
            }
        }
    }
}
