.presale{
    flex-direction: column-reverse;
    max-width: 1200px;
    overflow: auto;
    margin: 0 auto;
}
a{
    font-size: 1.7rem;
    cursor: pointer;
    margin-bottom: 30px;
    &:hover{
        color: #5551FF!important;
        text-decoration: underline!important;
        
    }
}
.presale__table{
    margin-top: 50px;
    width: 111rem;
    font-size: 1.7rem!important;
    @include respond(tab-port){
        font-size: 1.7rem !important;
        margin-left: 560px;
        margin-bottom: 25px;
     };
   
    thead th{
        border: none;
        font-weight: bold!important;
        text-align: inherit;
    }
    tr th{
        font-weight: normal;
       
    }
    tbody tr{
        color: #909090;
      
    }
    th,td{
        vertical-align: inherit ;
    }
}
.presale__link{
    text-decoration:underline
}
.circle{
    width: 7px;
    height: 7px;
    border-radius: 50%;
   margin-right: 5px;
    &-yellow{
        background-color: #FFA451;
        
    }
    &-green{
        background-color: #1DD3BD;
    }
}
.table__Res--p{
    display: none;

    @include respond(tab-land){
        display: block;
        color: #909090;
        font-size: 15px;
        text-align: center;
     };
}