.presale{
    flex-direction: column-reverse;
    @include respond(tab-port){
       flex-direction: column!important;
     };
}
a{
    font-size: 1.7rem;
    cursor: pointer;
    margin-bottom: 30px;
    &:hover{
        color: #5551FF!important;
        text-decoration: underline!important;
        
    }
}
.presale__table{
    width: 111rem;
    font-size: 1.2rem!important;
    @include respond(tab-port){
        width: 100%;

      };
    thead th{
        border: none;
        font-weight: bold!important;
    }
    tr th{
        font-weight: normal;
       
    }
    tbody tr{
        color: #909090;
      
    }
    th,td{
        vertical-align: inherit ;
    }
}
.presale__link{
    text-decoration:underline
}
.circle{
    width: 7px;
    height: 7px;
    border-radius: 50%;
   margin-right: 5px;
    &-yellow{
        background-color: #FFA451;
        
    }
    &-green{
        background-color: #1DD3BD;
    }
}