.roadmap {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 30px;
    padding: 50px 15rem;
    padding-bottom: 90px;
    border-bottom: 1px solid #CECECE;
    @include respond(tab-land){
      grid-template-columns: repeat(2,1fr);
      padding: 50px 0;
     };
     @include respond(phone){
        grid-template-columns: repeat(1,1fr)

       
       };
  &__ul {
      font-size: 1.7rem;
      margin-left: 0;
      margin-top: 20px;
      padding-bottom: 15rem;
      border-bottom: 1px solid #CECECE;
      height: 34rem;
  }
  &__li {
      margin: 10px 15px;
  }
  &__card {
      padding: 40px;
      border-radius: 10px!important;
      box-shadow: -1px 6px 5px #d7d7d7;
      border: 1px solid #D7D7D7;
      border-radius: 5px;
      background-color: #F6F6FF;
      &-status {
      
        font-size: 1.7rem;
      
    }
    h2.roadmap__card--head {
        padding: 8px 0;
        border-bottom: 1px solid #CECECE;
    }
    
  }
}
.status--done {
    color: #1DD3BD;
}
.status--progres{
    color: #FFA451;
    span{
        font-size: 2rem;
        
    }
}
.status--soon{
    color: #000000;
    span{
       font-weight: bold;
       font-size: 2rem;

        
    }
}
.roadmap-header{
    padding-top: 50px;
    h2{
        text-transform: uppercase;
        font-size: 3.5rem;
    }
}
.roadmap-sec{
    background: #F1F1FF;
}