.sdk-sec{
    
    
    .sdk{
        padding: 126px 0px;
        border-bottom: 1px solid #CECECE;
        display: flex;
        align-items: flex-start;
       
        @include respond(tab-port){
            flex-direction: column-reverse;
            align-items: center;
    padding: 40px 10px;
         };
         @include respond(small-phone){
        

           
           };
        &__image{
        img{
            width: 44rem;
        }
        }
        &__text{
            width: 40%;
            margin-left: 215px;

            @include respond(tab-port){
                width: 90%;
                margin-top: 30px;
                margin-left: 0;
             //   margin-left: 29px;
             };
             @include respond(small-phone){
                width: 90%;

    
               
               };
            h2{
               
            }
            p{
                font-size: 17px;
                margin-top: 16px;
                line-height: 1.4;
                @include respond(tab-port){
                    font-size: 15px;
                  };  
            }

        }
    }
}
.feature__moun-sec{
    background-color: #E8E8FA;
 .feature__moun--text{
    width: 40%!important;
    margin-right: 215px;
    margin-left: 0;
    @include respond(tab-port){
        width: 100%!important;
        margin-right: 0;
        margin-left: 0;
      };  
 }
}
.Moun__fig{
    @include respond(tab-port){
        flex-direction: column!important;
      };  
      .sdk-sec .sdk__text {
       
        @include respond(tab-port){
         margin-left: 0!important; 
          };
       
    }
}