.Economi__list{
  
   margin: 10px 0;
  
   @include respond(tab-port){
    width: 100%!important;
    margin-left: 50px!important;
  };

   h2{
    margin-left: -6rem;
    text-transform: uppercase;
   }
    .Economi__li{
        font-size: 1.7rem;
        line-height: 1.7rem;
        margin: 3px 0;
        @include respond(tab-port){
            font-size: 2rem;
         margin-top: 10px ;
         white-space: nowrap
          };  
    }
    
}
ul.Economi__ul {
    margin: 15px 0;
    margin-left: -13px;

}
.economi--img{
    width: 59rem!important;
    @include respond(big-phone){
        width: 100%!important;
      };
}
.economi{
    padding-bottom:15rem!important;

    @include respond(tab-port){
        flex-direction: column-reverse!important;
      };  
}
.economi-sec{
}