.Circulation__p{
    margin: 10px 0;
    p{
        margin-top: 0!important;
    }
}
.CirculationList{
   
    &__li{
        p{
            margin: 0!important;
        }
    }
}
.square{
    width: 9px;
    height: 9px;
 margin: 0 4px;
 &__blue{
     background-color: #4285F4;
 }
 &__red{
    background-color: #EA4335;
}
&__yellow{
    background-color: #FBBC04;
}
&__green{
    background-color: #34A853;
}
&__orange{
    background-color: #FF6D01;
}
&__bluegreen{
    background-color: #46BDC6;
}
&__lightblue{
    background-color: #7BAAF7;
}
&__pink{
    background-color: #F07B72;
}
}