.USECASE__text{
    width: 40%!important;
    @include respond(tab-port){
        width: 100%!important;
     };
    p{
        margin-top: 5px;
    }
}
.mtokenusecase{
    @include respond(tab-port){
        
       flex-direction: column!important
     };
}