.blockchain__text{
    width: 35%!important;
    @include respond(tab-port){
        width: 66%!important;
        @include respond(big-phone){
            width: 95%!important;
          };
      };
    p{
        font-family: RecklessTRIAL, serif;
       //font-weight: 400;
        font-style: italic;
    }
    .name{
      font-size: 13px;
    }
}
.blockchain__image{
    width: 40rem;
    padding: 20px;
    height: 40rem;
    background-color: rgba(#dedefc, 0.5);
    box-shadow: 1px 1px 9px #dedede;
      
    @include respond(tab-port){
       margin-right: 40px
     };
     @include respond(big-phone){
        margin-right: 0
      };
}
.blockchain__sec{
  background-color: #F3F3FF;
}