@import "../abstract/mixin";
@font-face {
    font-family: 'Oscar';
    src: url('http://www.fontsaddict.com/fontface/oscar.ttf');
  }
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
//1rem =10px 
@font-face {
    
    font-family: "Oscar";
    src: url("/assets/font/FH-Oscar/woff2\ \(web\)/") format("woff2"),
         url("/assets/font/FH-Oscar/ttf/") format("ttf");
  }
html {
  font-size: 62.5%;
   @include respond(tab-land){
        font-size:56.25%; //1rem=9px 
    };
    @include respond(tab-port){
        font-size: 50%; // 1rem = 8px -> 8/16=50%
    };
   
    @include respond(big-desktop){
        font-size: 75%; // 1rem =12 
    };
}

body {
    box-sizing: border-box;
    background-color: #e5e5fc0a;
    @include respond(tab-port){
        padding: 0;
    };
}
.container{
    max-width: 130rem;
    margin: 0 auto;
  
    @include respond(tab-land){
       overflow: hidden ;//1rem=9px 
       max-width: 105rem;
    };
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.list{
    list-style: none;
}
.d-flex{
    display: flex;
    align-items: center;
}
.blue-text{
    color: #5551FF;
}